.header__lang-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 425px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 20px;
  }
}